@keyframes onLoad {
    0%{
        text-decoration: line-through solid rgba(0, 0, 0, 0) 2px;
        color: transparent;
    }
    50%{
        text-decoration: line-through solid rgba(0, 0, 0, 0) 2px;
        color: black;
    };
    100%{
        text-decoration: line-through solid rgba(0, 0, 0, 1) 2px;
    }
}

@keyframes onLoad-p {

    0%{
        color: transparent;
    }
    50%{
        color: transparent;
    }

    100%{
        color: black;
    }
}


@keyframes onLoad-img {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


#splash-page_container-div{
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(10, 10vh);
}

@media only screen and (min-width: 1367px) {
    #splash-title_h1{
        white-space: nowrap;
    }

    #footer{
        height: 7.5vh;
    }
}


@media only screen and (max-width: 1366px) {

    #splash-title_h1{
        white-space: nowrap;
        transform: translate(5%, -6%);
    }

    #footer{
        height: 9vh;
    }
}


#splash-title_h1{
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 40px;
    grid-row: 5;
    grid-column: 7/ 10;
    letter-spacing: 10px;
    animation-name: onLoad;
    animation-duration: 4s;
    text-decoration: line-through solid black 2px;
    z-index: 3;
}

#splash-page_create-p{
    grid-row: 6;
    grid-column: 7;
    font-size: 20px;
    transform: translate(50%);
    animation-name: onLoad-p;
    animation-duration: 5s;
    white-space: nowrap;
    color: black;
    z-index: 3;
}

#splash-page_send{
    grid-row: 6;
    grid-column: 7;
    align-self: center;
    font-size: 20px;
    white-space: nowrap;
    transform: translate(40%);
    animation-name: onLoad-p;
    animation-duration: 6s;
    z-index: 3;
}

#splash-page_account{
    grid-row: 6;
    grid-column: 7/9;
    align-self: end;
    font-size: 20px;
    white-space: nowrap;
    transform: translate(10%);
    animation-name: onLoad-p;
    animation-duration: 7s;
    z-index: 3;
}


.splash-page_nav{
    font-size: 20px;
    letter-spacing: 3px;
    color: black;
    cursor: pointer;
    text-decoration: line-through solid transparent 2px;
    animation-name: onLoad-p;
    animation-duration: 7s;
    transition: 1s;
}

.splash-page_nav:hover {
    text-decoration: line-through solid black 2px;
}

.splash-page_nav:active{
    transition: 0s;
    color: gray;
    text-decoration: line-through solid gray 2px;
}

#speak-easy_logo{
    height: 70vh;
    grid-row: 2;
    grid-column: 3/ 8;
    justify-self: center;
    transform: translate(-4%, -3.5%);
    animation-name: onLoad-img;
    animation-duration: 1s;
}

#signup_nav{
    grid-row: 1;
    grid-column: 10;
    align-self: start;
    white-space: nowrap;
    line-height: 13px;
    justify-self: center;
    padding-top: 10px;
}

#login_nav{
    grid-row: 1;
    grid-column: 10;
    align-self: center;
    white-space: nowrap;
    line-height: 13px;
    justify-self: center;
    padding-top: 10px;
}

#demo_login{
    grid-row: 1;
    grid-column: 10;
    align-self: end;
    white-space: nowrap;
    line-height: 13px;
    justify-self: center;
    padding-top: 10px;
}


#footer{
    grid-row: 10;
    grid-column: 1/ span end;
    align-self: end;
    display: grid;
    grid-template-columns: repeat(10, 10vw);
}

#logo-artist{
    grid-column: 1;
    justify-self: center;
    animation-name: onLoad-p;
    animation-duration: 7s;
}

#project_div{
    display: grid;
    grid-column: 4;
    justify-self: center;
    animation-name: onLoad-p;
    animation-duration: 7s;
}

#project_div > a{
    justify-self: center;
}

#about-me_div{
    display: grid;
    grid-column: 10;
    justify-self: center;
    animation-name: onLoad-p;
    animation-duration: 7s;
}
#about-me_div > a{
    justify-self: center;
}

#about-site_div{
    display: grid;
    grid-column: 7;
    justify-self: center;
    animation-name: onLoad-p;
    animation-duration: 7s;
}

#about-site_div > a{
    justify-self: center;
}



.splash-links{
    text-decoration: line-through solid transparent 1px;
    transition: .7s;
}

.splash-links:hover{
    text-decoration: line-through solid black 1px;
}


.splash-links:active{
    transition: 0s;
    color: gray;
}
