/* TODO Add site wide styles */
* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Cardo', serif;
    font-weight: 600;
   }

   h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
   }

   ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }


  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border: black solid 1px;
  }


  ::-webkit-scrollbar-thumb {
    background: gray;
  }


  ::-webkit-scrollbar-thumb:hover {
    background:darkslategray;
  }


button{
background-color: whitesmoke; /* Green */
border: black solid 1px;
color: white;
padding: 2px 6px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
color: black;
max-width: 5vw;
max-height: 5vh;
}


button:hover{
  background-color: #c8c8c8;
}


input,
textarea,
select{
  border: solid black 2px;
  margin-left: 5px;
  margin-right: 5px;
}


a {
  color:tomato;
  text-decoration: none;
}
